.slide_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_container img {
    width: 100%;
    border-radius: 5px;
    height: 300px;
    display: block;
}

.caption {
    position: absolute;
    bottom: 55%;
    left: 5%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 90%;
}

@media (min-width: 1200px) {
    .slide_container {}

    .slide_container img {
        margin: 0 auto;
        height: 350px;
        width: 350px;
    }

    .caption {
        position: absolute;
        bottom: 4%;
        left: 5%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
        font-size: 1.2rem;

        margin: 0 auto;
    }
}