

/* Desktop - 3 colunas quando maior que 1200px */
@media (min-width: 1200px) {

    .productHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .productMain {
        max-width: 1024px;
        margin: 0 auto;
    }

    .productCard {
        grid-template-columns: repeat(3, 1fr);
    }
}